@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
//@import "variable/_grid.styl"
@import "../module/**/*"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

// Grid breakpoints
$breakpoints = {
	'xs' :  0,
	'sm' : 480px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px
}

// Number of columns
$columns = 12

init($breakpoints, $columns)

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.4
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.main-cont.main-cont--mobile
	+below(768px)
		center(600px,10px)

.rub
	display: inline
	line-height: 1.3

.marked
	background: linear-gradient(to right, rgba(255,255,255,0) 50.5%, black 49.5%)
	background-size: 200%
	background-position: 0 0
	transition: .5s ease-in-out
	display: inline
	&:hover
		background-position: -99.999% 0;
		color white

.nice-select
	br(0)
	margin-bottom: 20px
	display: block
	color #000000
	font-size 14px
	font-weight 700
	height: auto
	line-height:auto
	.list
		width: calc(100% )
		left 0px
		br(0)
		border 0px solid $border-color
		border-top 0
		margin-top: 0

select.select-beauty
	display: none!important

.element-select
	padding: 10px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

.flag
	width: 50px
	height: 65px
	background: $green
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%)
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%)
	flex(mid)

.flag-content
	.icon
		size 25px
		fill white


.header-black
	background: black
//.head
//.main-cont
.head-slim
	+below(768px)
		display: none
	padding: 25px 0
	flex(between)
.head-slim__list
	+below(1024px)
		width: 70%
	flex(between)
	width: 55%
.head-slim__list-el
	tr(all)
	color white
	opacity .4
	&:hover
		opacity 1
		color white
.head-slim__list-soc
	flex(between)
.head-slim__list-soc-el
	flex(mid)
	margin-left: 25px
	.icon
		tr(all)
		&:hover
			opacity 1
		size 25px
		fill white
		opacity .4

.head-slim__list-soc-el--inst
	.icon
		size 20px

.head-slim__list-soc-el--apple
	.icon
		size 23px

.header-nav
	+below(768px)
		.main-cont
			padding: 0
.header-nav__wrap
	+below(1024px)
		height: 100px
	+below(640px)
		height: 50px
	f()
	height: 140px
	background: white
	position: relative

.header-nav__logo
	+below(640px)
		width: 110px
		margin-left: 20px
	width: 15%
	flex(mid)
	.icon
		+below(640px)
			width: 100%
		width: 70%
.header-nav__menu
	+below(1024px)
		width: 100px
	+below(640px)
		width: 50px
	flex(mid)
	fl()
	cp()
	tr(all)
	background: $green
	width: 140px
	&:hover
		background:#31cf19

.header-nav__menu-icon
	.icon
		+below(1024px)
			size 30px
		+below(640px)
			width 16px!important
			margin-right: 0!important
		size 50px
		fill white
.header-nav__menu-text
	+below(640px)
		display: none
	color white
	font-family Bebas
	font-size 18px
.header-nav-info
	+below(640px)
		display: none
	width: 50%
	flex(between)
	padding: 0 4%
.header-nav-info__phone
	+below(1024px)
		width: 100%
		f()
		align-items: center
	+below(640px)
		display: none
.header-nav-info__phone-number
	+below(1024px)
		margin-bottom: 0
		margin-right: 20px
		font-size: 24px
	margin-bottom: 5px
	@extend .type--lg
	span
		color: #9b9b9b
		display: inline-block
		margin-right:8px

.header-nav-info__phone-text
	+below(720px)
		display: none
	color red
	cp()

.header-nav-info__time
	+below(1048px)
		display: none
.header-nav-info__time-el
	&:first-child
		margin-bottom: 15px
	span
		display: inline-block
		width: 45px
		height: 1px
		border-bottom 1px solid #e5e5e5
		margin: 0 5px
.header-nav__enter
	+below(1024px)
		width:15%
	+below(640px)
		width: 50px
		margin-left: auto
	cp()
	flex(mid)
	fl()
	width: 140px
	border-left 1px solid #e5e5e5
	&:hover
		.icon
			fill black
		.header-nav__enter-text
			color $green

.header-nav__enter-icon
	.icon
		+below(1024px)
			size 30px
		+below(640px)
			margin-right: 0!important
			size 22px
		tr(all)
		size 40px
		fill #a8a8a8
.header-nav__enter-text
	+below(640px)
		display: none
	font-family Bebas
	font-size 18px
	tr(all)

.header-nav__cart
	+below(1024px)
		width:15%
	+below(640px)
		width:50px
	cp()
	border-left 1px solid #e5e5e5
	flex(mid)
	fl()
	width: 140px
	&:hover
		.icon
			fill black
		.header-nav__cart-text
			color $green

.header-nav__cart-icon
	position: relative
	.icon
		+below(1024px)
			size 30px
		+below(640px)
			margin-right: 0!important
			size 22px
		tr(all)
		size 40px
		fill #a8a8a8

.header-nav__cart-text
	+below(640px)
		display: none
	font-family Bebas
	font-size 18px
	tr(all)

.header-nav__cart-val
	+below(768px)
		size 18px
		font-size: 10px
		right: -5px
	flex(mid)
	round()
	size 25px
	background: $red
	color white
	position: absolute
	font-size: 12px
	right -12px
	top -5px

.pattern-black
	background-image: url(../img/pattern.png)
	position: relative
	background-color: black
	background-repeat: repeat
	-webkit-background-size: 200px
	background-size: 200px

.banner
	+below(768px)
		fw()
		margin-bottom: 50px
	+below(640px)
		margin: 20px 0
	f()
	justify-content: space-between
	margin-bottom: 85px
	margin-top: 50px

.banner-img
	+below(768px)
		width: 100%
		margin-bottom: 20px
		padding: 20vw
	padding: 3vw 5vw
	background: black
	background-repeat: no-repeat
	background-size: cover
	width: 75%

.banner-state__col
	+below(768px)
		width: 100%
		flex-flow row
	+below(640px)
		flex-flow column
	width: 22%
	flex(between)
	fw()
	fl()

.banner-state
	+below(768px)
		height: auto
		padding: 5%
		width: 48%
	+below(640px)
		margin-bottom: 20px
		width: 100%
	flex(between)
	fl()
	tr(all)
	border 1px solid rgba(255, 255, 255, 0.2)
	height: 48%
	position: relative
	padding: 2vw
	&:hover
		background: $green
	.flag
		position: absolute
		top 0
		right: 20px

.banner-state__title
	+below(1024px)
		font-size: 20px
	+below(768px)
		margin-bottom: 20px
	@extend .type--lg
	color white
	width: 100%

.banner-state__text
	+below(1024px)
		font-size: 12px
	+below(768px)
		width: 100%
	color white


.footer
	margin-top: 55px

.footer-slim
	.footer
		margin-top: 0
.footer__dark
	@extend .pattern-black
//.main-cont
.footer__top
	+below(768px)
		justify-content: flex-start
		padding: 30px 0
	+below(640px)
		fl()
	f()
	position: relative
	justify-content: space-between
	padding: 60px 0

.footer__list
	+below(768px)
		display: none
	width: 65%
	display: grid
	grid-template-rows: repeat(4, auto)
	grid-gap: 10px
	grid-auto-flow: column

.footer__list-el
	tr(all)
	color rgba(255, 255, 255, 0.71)
	&:hover
		color white

.footer-contact
	+below(768px)
		width: 45%
	+below(640px)
		width: 100%
		max-width 280px
		margin-bottom: 20px
	width: 30%

.footer-contact__phone
	margin-bottom: 20px

.footer-contact__phone-el
	@extend .type--md
	color white
	display: block
	margin-bottom: 10px
	&:hover
		color white

.footer__time-el
	color white
	&:first-child
		margin-bottom: 15px
	span
		display: inline-block
		width: 45px
		height: 1px
		border-bottom 1px solid #e5e5e5
		margin: 0 5px

.footer__bottom
	+below(640px)
		padding: 30px 0
	padding: 60px 0

.footer__bottom-wrap
	f()
	justify-content: space-between

.footer__copy
	+below(768px)
		width: 100%
		text-align: center
	width: 28%

.footer__copy-text
	@extend .type--md
	margin-bottom: 15px
	span
		color $green

.footer__copy-link
	+below(640px)
		display: block
	margin-bottom: 10px
	display: inline-block

.footer__bottom-menu
	+below(768px)
		display: none
	width: 34%
	display: grid
	grid-template-rows: repeat(3, 40px)
	grid-gap: 10px
	grid-auto-flow: column

//.footer__bottom-menu-el
.footer__pay
	+below(768px)
		display: none
	width: 30%

.footer__pay-row
	f()
	margin-bottom: 10px
	.icon
		width: 55px
		height: 45px

.footer__pay-row__el--visa
	margin-left: 10px
	.icon
		width: 65px

.footer__pay-text
	line-height: 1.6

.section-content
	+below(768px)
		padding: 30px 0
	padding: 60px 0

.section-content--news
	+below(640px)
		.main-cont
			center(300px,10px)
//.main-cont

.title--section
	+below(768px)
		margin-bottom: 30px
		line-height: 1
	text-align: center
	text-transform: uppercase
	@extend .type--xl
	margin-bottom: 60px

.item-wrap
	+below(1024px)
		grid-template-columns: repeat(3, 1fr)
	+below(768px)
		grid-template-columns: repeat(2, 1fr)
	+below(640px)
		grid-template-columns: repeat(1, 1fr)
	display grid
	grid-template-columns: repeat(4, 1fr)
	grid-gap: 20px

.item-el
	+below(640px)
		flex-flow row
	f()
	fl()
	cp()
	position: relative
	background: white
	&:hover
		.item-el__title
			background-position: -99.999% 0
			color white
.item-el__wrapper
	+below(640px)
		width: 70%
	f()
	fl()
	border 1px solid #d9d9d9
	border-top: 0
	flex-grow 1
.item-el__img
	+below(1280px)
		padding: 8vw
	+below(768px)
		padding: 15vw
	bg-full()
	padding: 6vw
	display: block

.item-el__content
	+below(640px)
		f()
		fl()
		align-items: flex-start
		border-top 1px solid #d9d9d9
	padding: 20px
	flex-grow 1
.item-el__title
	+below(640px)
		font-size: 5vw
	@extend .type--lg
	display: inline
	margin-bottom: 10px
	background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, black 50%)
	background-position: -0% 0
	background-size: 200.3% auto
	transition: background-position 0.5s ease-out, color .8s
	&:hover
		background-position: -99.999% 0
		color white

.item-el__text
	+below(640px)
		display: none
	margin-top: 10px
	line-height: 1.6

.item-el__info
	+below(640px)
		display: none
	f()
	border-top 1px solid #d9d9d9
	border-bottom 1px solid #d9d9d9

.item-el__info-price
	width: 50%
	text-align: center
	@extend .type--md
	padding: 15px 0
	border-right 1px solid #d9d9d9

.item-el__price--mobile
	display: none
	+below(640px)
		@extend .type--md
		font-size: 4vw
		margin-top: auto
		display: block
		color $green

.item-el__info-get
	@extend .type--md
	flex(mid)
	cp()
	tr(all)
	text-align: center
	width: 50%
	&:hover
		background: $green
		color white
		.icon
			fill white
	.icon
		tr(all)
		size 15px
.item-el__add
	flex(mid)
	width: 100%
.item-el__info-get-text
	margin-right: 5px

.item-el__info-get-plus
	fill $green

.item-el__descr
	+below(640px)
		display: none
	padding: 15px 0
	text-align: center
	color #919191

.item-el-slider
	+below(1024px)
		grid-column: 1 / 4
	+below(768px)
		grid-column: 1 / 3
	+below(640px)
		grid-column: 1 / 2
	background:gray
	grid-column: 3 / 5

.item-el__incr
	display: none
	width: 100%
	height: 100%
	.incr
		f()
		width: 100%
		justify-content: space-between
		position relative
		background: $green
		height: 100%
	.incr__nav
		flex(mid)
		width: 35%
		.icon
			size 15px
			fill white
	.incr__val
		flex(mid)
		color white
		font-weight 400
.item-el__info-get--incr
	.item-el__add
		display: none
	.item-el__incr
		flex(mid)
	background: $green

.item-mod
	+below(640px)
		justify-content: flex-start
		right:initial
		top 6px
		left: -3px
	f()
	position: absolute
	top 20px
	right 20px
	width: 100%
	align-items:flex-end
	justify-content: flex-end
.item-mod-el
	+below(640px)
		size 25px
	margin-left: 10px
	size 35px
	flex(mid)
	.icon
		fill white
.item-mod-el--percent
	background: $red
	.icon
		+below(640px)
			size 15px
		size 20px
.item-mod-el--new
	background: $green
	.icon
		+below(640px)
			size 15px
		width: 20px
		height: 10px

.section-sale
	+below(1024px)
		.main-cont
			center(768px,10px)
	+below(768px)
		padding: 30px 0
		.main-cont
			center(600px,10px)
	@extend .pattern-black
	padding: 80px 0
.section-sale__wrap
	+below(1024px)
		grid-template-columns: repeat(2, 1fr)
		.item-el
			&:nth-child(3)
				display: none
	+below(640px)
		grid-template-columns: repeat(1, 1fr)
	display grid
	grid-template-columns: repeat(4, 1fr)
	grid-gap: 10px

.section-sale__info
	+below(1024px)
		grid-column: 1 / 4
	+below(640px)
		grid-column: 1 / 2
.section-sale__info-title
	+below(768px)
		margin-bottom: 20px
	color $red
	font-family Liana
	font-size 38px
	margin-bottom: 40px

.section-sale__info-text
	+below(768px)
		margin-bottom: 20px
	@extend .type--xl
	margin-bottom: 40px
	color white
	width: 80%

.section-sale__info-get
	+below(768px)
		display: none
	@extend .btn--dark
	@extend .btn--md-fix

.news-list
	+below(768px)
		grid-template-columns: repeat(2, 1fr)
	+below(640px)
		grid-template-columns: repeat(1, 1fr)
	display grid
	grid-template-columns: repeat(3, 1fr)
	grid-gap: 20px
.news-el
	+below(768px)
		&:last-child
			display: none
	f()
	fl()
	&:hover
		.news-el__title
			background-position: -99.999% 0
			color white
.news-el__img
	+below(640px)
		padding: 25vw 10vw
	bg-full()
	padding: 10vw 6vw
	display: block

.news-el__wrapper
	border 1px solid #d9d9d9
	border-top 0
	padding: 20px
	f()
	fl()
	align-items: flex-start
	flex-grow 1
	background: white

.news-el__title
	@extend .type--lg
	tr(all)
	display: inline
	@extend .marked
.news-el__text
	color #404040
	line-height: 1.6
	margin-top: 10px
	margin-bottom: 20px

.news-el__date
	color #949494
	up()
	margin-top: auto

//.section-slogan
.slogan
	center(600px,10px)

.slogan-title-top
	+below(768px)
		text-align: center
		font-size: 32px
	color $red
	font-family Liana
	font-size 48px
	margin-bottom: 10px

.slogan-title
	+below(768px)
		text-align: center
	+below(640px)
		font-size: 38px
	@extend .type--xxl

.slogan-img
	bg-full()
	background-size:contain
	padding: 25%
	margin-top: -7%
	position: relative
	margin-bottom: 20px

.slogan-text
	line-height: 1.6
	margin-bottom: 30px
//.slogan-info

.slogan-info__text
	margin-bottom: 20px

.slogan-info__numb
	@extend .type--lg
	margin-bottom: 10px

.slogan-info__link
	@extend .link--mark

.scroll-top
	flex(mid)
	cp()
	tr(all)
	size 80px
	background: $green
	position: absolute
	right: 0
	top 0
	&:hover
		background: lighten($green,10)
	.icon
		fill white
		size 30px

.bread
	+below(768px)
		margin-bottom: 20px
	f()
	margin-bottom: 40px

.bread__el
	margin-right: 40px
	position: relative
	tr(all)
	color white
	opacity .4
	&:hover
		opacity 1
		color white
	&:last-child
		&:before
			display: none
	&:before
		content '-'
		position: absolute
		color white
		opacity .4
		top 0
		right -25px

.bread-row
	flex(mid)

.card
	f()
	justify-content: space-between
	margin-bottom: 100px

.card-img
	width: 50%
	padding: 20%
	bg-full()

.card-info
	width: 35%

.card-info__title-top
	color $red
	font-family Liana
	margin-bottom: 20px
	font-size: 48px

.card-info__title
	@extend .type--xxl
	color white
	margin-bottom: 20px

.card-info__text
	color white
	line-height: 1.6
	margin-bottom: 60px

.card-info__weight
	text-align: center
	color white
	margin-bottom: 60px

.card-info__get
	flex(around)

.card-info__get-val
	f()
	@extend .type--xl
	color white

.card-info__get-price
	margin-right: 10px
//.rub

.card-info__get-btn
	@extend .btn--sm-fix
	@extend .btn--mark

.head-title
	padding-top: 50px
.head-title__sub
	text-align: center
	color $red
	font-family Liana
	@extend .type--lg

.head-title__text
	@extend .type--xxl
	center(800px,10px)
	text-align: center
	color white
	line-height: 1
	margin-bottom: 40px

.filter-get
	f()
.filter-get__el
	@extend .btn--sm
	@extend .btn--light
	margin-left: 20px

.filter
	flex(between)
	margin-bottom: 50px

.filter-list
	f()
	fw()
	width: 55%

.filter-list__el
	margin-right: 20px
	margin-bottom: 20px
	@extend .link
	@extend .marked

.filter-get
	width: 40%
	f()
	justify-content: flex-end

.list-get-more
	@extend .btn--md-fix
	@extend .btn--mark

.btn-row--mid
	flex(mid)

.list-get-more
	margin-top: 50px

.discount-list
	display grid
	grid-template-columns: repeat(3, 1fr)
	grid-gap: 20px
	margin-bottom: 100px

.discount-el
	f()
	fl()
	&:hover
		.discount-el__title
			background: black
			color white

.discount-el__img
	bg-full()
	padding: 35%
	display: block

.discount-el__wrapper
	border 1px solid #d9d9d9
	border-top 0
	padding: 20px
	f()
	fl()
	flex-grow 1
	background: white

.discount-el__title
	@extend .type--lg
	tr(all)
	margin-bottom: 20px

.discount-el__date
	color #949494
	up()
	margin-top: auto

.news-list--container
	margin-bottom: 100px

.content-info__wrap
	img
		margin-bottom: 40px
	.content-info
		&:last-child
			margin-bottom: 0

.content-info
	center(760px,10px)
	margin-bottom: 50px
	line-height: 1.6
	p
		&:last-child
			margin-bottom: 0
		margin-top: 0
		margin-bottom: 35px

.icon-logo-sm
	display: none
	+below(640px)
		display: block
.icon-logo-md
	+below(640px)
		display: none
.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out
	z-index 10
	border-bottom 1px solid #e5e5e5
	.head-slim
		display: none
	.header-nav__wrap
		margin-bottom: 0
		//height: 50px
		border-right 1px solid #e5e5e5
		border-left 1px solid #e5e5e5
	.header-nav-info__time
		display: none
	.icon-logo-md
		display: none
	.icon-logo-sm
		display: block
		height: 100%
	.header-nav-info__phone
		width: 100%
		f()
		align-items: center
	.header-nav-info__phone-number
		+below(640px)
			display: none
		margin-bottom: 0
		margin-right: 20px
	.header-nav__enter
		flex-flow row
		.icon
			margin-right: 10px
			size 22px
	.header-nav__cart
		flex-flow row
		.icon
			margin-right: 10px
			size 22px
	.header-nav__menu
		flex-flow row
		.icon
			margin-right: 10px
			size 22px
	.header-nav__wrap
		height: 50px
	.header-nav__cart-val
		+below(640px)
			right: -5px
		size 18px
		font-size: 10px
		right: 0
	.header-nav__drop
		left -1px
		width: calc(100% + 2px)

//mobile menu
#mobile-menu
	+above(769px)
		display none!important
	background white
	border-top 1px solid #e6e6e6

	//display none!important

#mobile-menu:not( .mm-menu )
	display: none;

.mobile-menu-el
	padding 10px 0!important
	display inline-block
	color black
	font-size 16px
	font-weight 600
	.header__sub-menu__el
		width 100%
		f()

.mm-listview>li:not(.mm-divider):after
	left 0

.mm-menu .mm-listview>li .mm-next:after,
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before
	border-color black

.mm-title
	color black!important

.mm-navbar
	background #efeeee

html.mm-opened
	overflow hidden

.mobile-menu-el--sub
	a:after, a:before
		border-color  #a5a4a4!important
	span,a
		color #a5a4a4!important

.header-mobile-togle--open
	.icon-menu-close
		display: block
	.icon-menu
		display: none

.icon-menu-close
	display: none

.header-nav__menu-toggle
	display: block
	position: absolute
	width: 100%
	height: 100%
	top 0
	left: 0
	+above(769px)
		display: none

.icon--close
	display: none

.header-nav__menu--open
	.icon--menu
		display: none
	.icon--close
		display: block
		size 16px

.header-nav__menu--mob
	+above(769px)
		display: none
.header-nav__menu--desct
	+below(768px)
		display: none
	&:hover
		.header-nav__drop
			display: block
			height: auto
			width: 100%
			padding: 5%
			clip initial
			margin:0
			opacity: 1
//mobile menu===end

.header-nav__drop
	position: absolute
	background: white
	top 100%
	left 0px
	z-index 10
	border 1px solid #e5e5e5
	padding: 5%
	height: 1px
	margin: -1px
	width: 1px
	padding: 0
	clip rect(0 0 0 0)
	transition opacity .5s
	opacity: 0
.header-nav__drop-wrap
	flex(between)

.header-nav__drop-list
	width: 65%
	display: grid
	grid-template-rows: repeat(4, auto)
	grid-gap: 10px
	grid-auto-flow: column

.header-nav__drop-list-el
	@extend .type--md
	a
		@extend .marked

.header-nav__drop-img
	width: 30%
.header-nav__drop-img-el
	bg-full()
	background-size: contain
	padding: 30%
	display: block

.mobile-menu__info
	+above(640px)
		display: none
	padding: 30px
	background: $green

.mobile-menu__numb
	text-align: center
	color white
	display: block
	font-family Bebas
	font-size 35px
	margin-bottom: 20px

.mobile-menu__time
	flex(mid)
	fl()
	color white
.mobile-menu__time-el
	font-size: 15px
	&:first-child
		margin-bottom: 15px
	span
		display: inline-block
		width: 45px
		height: 1px
		border-bottom 1px solid #e5e5e5
		margin: 0 5px

.section-sale-get--mobile
	display: none
	+below(768px)
		flex(mid)
		margin-top: 30px
	a
		@extend .btn--dark
		@extend .btn--md-fix

.footer__pay--dark
	display: none
	+below(768px)
		display: block
		color white
		.icon
			fill black
	+below(640px)
		width: 100%
		max-width 280px

.item-el__get
	+below(640px)
		f()
		fl()
		width: 15%
	border 1px solid #d9d9d9
	margin-left: -1px
	display: none
	.icon
		size 16px
.item-el__get-el
	&:first-child
		border-bottom 1px solid #d9d9d9
		tr(all)
		&:hover
			background: $green
			.icon
				fill white
		.icon
			fill $green
	height: 100%
	flex(mid)
