@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format('embedded-opentype'), url("../fonts/BebasNeueBold.woff") format('woff'), url("../fonts/BebasNeueBold.ttf") format('truetype'), url("../fonts/BebasNeueBold.svg#Bebas") format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Liana';
  src: url("../fonts/Liana.eot");
  src: url("../fonts/Liana.eot?#iefix") format('embedded-opentype'), url("../fonts/Liana.woff") format('woff'), url("../fonts/Liana.ttf") format('truetype'), url("../fonts/Liana.svg#Liana") format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Regular.woff") format('woff'), url("../fonts/Roboto-Regular.ttf") format('truetype'), url("../fonts/Roboto-Regular.svg#Roboto") format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'RUB';
  src: url("../fonts/rouble-webfont.eot");
  src: url("../fonts/rouble-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/rouble-webfont.woff") format('woff'), url("../fonts/rouble-webfont.ttf") format('truetype'), url("../fonts/rouble-webfont.svg#RUB") format('svg');
  font-weight: 400;
  font-style: normal;
}
.clear {
  clear: both;
}
.align-image-center {
  text-align: center;
}
.fluid-image {
  max-width: 100%;
  height: auto;
  display: block;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.f-none {
  float: none;
}
.type--up {
  text-transform: uppercase;
}
.type--italy {
  font-style: italic;
}
.type--center {
  text-align: center;
}
.type--left {
  text-align: left;
}
.type--right {
  text-align: right;
}
.disabled,
.btn--disable,
.style-label--disable {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.all-page__el {
  width: 32%;
  padding: 5px;
  box-shadow: 0px 3px 8px #e3e3e3;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .all-page__el {
    width: 100%;
    margin-bottom: 20px;
  }
}
.all-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.elements-hr {
  margin: 40px 0;
  display: block;
  height: 1px;
  border-bottom: 1px solid #d1d1d1;
}
.elements-darken-block {
  padding: 20px;
  background: #000;
}
.all-page__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #000;
}
.old-browser {
  background: #808080;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.all-page-color {
  display: flex;
  flex-wrap: wrap;
}
.all-page-color__el {
  margin: 20px;
}
.all-page-color__block {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.all-page-color__el-name {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.element-list-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.element-list-svg__icon {
  width: 12%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.element-list-svg__icon .icon-el {
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: $link-color;
}
a:hover {
  text-decoration: none;
  color: $link-color-hover;
}
.type--bold {
  font-weight: $weigh-bold;
}
img,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
.small-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .small-only {
    display: table;
  }
}
@media only screen and (max-width: 768px) {
  .large-only {
    display: none;
  }
}
.bold {
  font-weight: $weigh-bold;
}
.kss-section {
  max-width: 100% !important;
}
.linenums {
  padding: 20px 40px !important;
}
.kss-title {
  margin-bottom: 40px !important;
}
.kss-modifier__example {
  padding: 10px !important;
  box-shadow: 1px 1px 10px #d8d8d8;
}
.rub {
  font-family: 'RUB';
  font-style: normal;
}
@font-face {
  font-family: 'RUB';
  src: url("../fonts/rouble-webfont.eot");
  src: url("../fonts/rouble-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/rouble-webfont.woff") format('woff'), url("../fonts/rouble-webfont.ttf") format('truetype'), url("../fonts/rouble-webfont.svg#RUB") format('svg');
  font-weight: 'normal';
  font-style: normal;
}
.type--xs {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--xs {
    font-size: 10px;
  }
}
.type--sm {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--sm {
    font-size: 12px;
  }
}
.type--main,
h5,
p,
body {
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  h5,
  p,
  body {
    font-size: 12px;
  }
}
.type--md,
h4,
.btn--sm-fix,
.btn--md,
.btn--md-fix,
.footer-contact__phone-el,
.footer__copy-text,
.item-el__info-price,
.item-el__price--mobile,
.item-el__info-get,
.section-sale__info-get,
.card-info__get-btn,
.list-get-more,
.header-nav__drop-list-el,
.section-sale-get--mobile a {
  font-size: 22px;
  font-family: Bebas;
}
@media only screen and (max-width: 768px) {
  .type--md,
  h4,
  .btn--sm-fix,
  .btn--md,
  .btn--md-fix,
  .footer-contact__phone-el,
  .footer__copy-text,
  .item-el__info-price,
  .item-el__price--mobile,
  .item-el__info-get,
  .section-sale__info-get,
  .card-info__get-btn,
  .list-get-more,
  .header-nav__drop-list-el,
  .section-sale-get--mobile a {
    font-size: 18px;
  }
}
.type--lg,
h3,
.header-nav-info__phone-number,
.banner-state__title,
.item-el__title,
.news-el__title,
.slogan-info__numb,
.head-title__sub,
.discount-el__title {
  font-size: 28px;
  font-family: Bebas;
}
@media only screen and (max-width: 768px) {
  .type--lg,
  h3,
  .header-nav-info__phone-number,
  .banner-state__title,
  .item-el__title,
  .news-el__title,
  .slogan-info__numb,
  .head-title__sub,
  .discount-el__title {
    font-size: 22px;
  }
}
.type--xl,
h2,
.title--section,
.section-sale__info-text,
.card-info__get-val {
  font-size: 50px;
  font-family: Bebas;
}
@media only screen and (max-width: 768px) {
  .type--xl,
  h2,
  .title--section,
  .section-sale__info-text,
  .card-info__get-val {
    font-size: 35px;
  }
}
.type--xxl,
h1,
.slogan-title,
.card-info__title,
.head-title__text {
  font-size: 68px;
  font-family: Bebas;
}
@media only screen and (max-width: 768px) {
  .type--xxl,
  h1,
  .slogan-title,
  .card-info__title,
  .head-title__text {
    font-size: 48px;
  }
}
.type--bold {
  font-weight: bold;
}
h1 {
  margin-top: 0;
  line-height: 1;
}
h2 {
  margin-top: 0;
  line-height: 1;
}
h3 {
  margin-top: 0;
  line-height: 1;
}
h4 {
  margin-top: 0;
  line-height: 1;
}
h5 {
  margin-top: 0;
  line-height: 1;
}
a {
  color: #111;
}
a:hover {
  color: #000;
}
a:visiter {
  color: #000;
}
.link,
.link--mark,
.link--light,
.slogan-info__link,
.filter-list__el {
  display: inline-block;
  position: relative;
}
.link:before,
.link--mark:before,
.link--light:before,
.slogan-info__link:before,
.filter-list__el:before {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background: rgba(0,0,0,0.45);
}
.link:hover:before,
.link--mark:hover:before,
.link--light:hover:before,
.slogan-info__link:hover:before,
.filter-list__el:hover:before {
  display: none;
}
.link--mark,
.slogan-info__link {
  color: #ff2828;
}
.link--mark:before,
.slogan-info__link:before {
  content: '';
  background: #ff2828;
}
.link--mark:hover,
.slogan-info__link:hover {
  background: #ff2828;
}
.link--light {
  color: #fff;
}
.link--light:before {
  content: '';
  bottom: -2px;
  height: 1px;
  width: 100%;
  background: rgba(255,255,255,0.3);
}
.link--light:hover {
  background: #fff;
  color: #111;
}
.link--text {
  color: #3a90c8;
  text-decoration: underline;
}
.link--text:hover {
  text-decoration: none;
}
.btn,
.btn--sm,
.btn--md,
.btn--lg,
.btn--mobile,
.btn--mark,
.btn--light,
.btn--dark,
.btn--dotted,
.btn--white,
.btn--darken,
.section-sale__info-get,
.card-info__get-btn,
.filter-get__el,
.list-get-more,
.section-sale-get--mobile a {
  text-transform: uppercase;
  border-radius: 0px;
  transition: all 0.4s;
  text-transform: uppercase;
  display: inline-block;
  background: none;
  border: 1px solid transparent;
  text-align: center;
  font-family: Bebas;
}
.btn:hover,
.btn--sm:hover,
.btn--md:hover,
.btn--lg:hover,
.btn--mobile:hover,
.btn--mark:hover,
.btn--light:hover,
.btn--dark:hover,
.btn--dotted:hover,
.btn--white:hover,
.btn--darken:hover,
.section-sale__info-get:hover,
.card-info__get-btn:hover,
.filter-get__el:hover,
.list-get-more:hover,
.section-sale-get--mobile a:hover {
  cursor: pointer;
}
.btn--sm,
.filter-get__el {
  font-size: 16px;
  padding: 10px 30px;
}
.btn--sm .nav-icon,
.filter-get__el .nav-icon {
  width: 10px;
  height: 10px;
}
.btn--sm-fix,
.card-info__get-btn {
  width: 150px;
  padding: 10px;
}
.btn--md {
  padding: 20px 45px;
}
.btn--md-fix,
.section-sale__info-get,
.list-get-more,
.section-sale-get--mobile a {
  padding: 15px;
  width: 200px;
}
.btn--lg {
  font-size: 20px;
  padding: 10px 30px;
}
@media only screen and (max-width: 768px) {
  .btn--mobile {
    width: 100%;
    text-align: center;
  }
}
.btn--mark,
.card-info__get-btn,
.list-get-more {
  color: #fff;
  background: #28aa14;
}
.btn--mark .nav-icon,
.card-info__get-btn .nav-icon,
.list-get-more .nav-icon {
  fill: #fff;
}
.btn--mark:hover,
.card-info__get-btn:hover,
.list-get-more:hover {
  background-color: #fff;
  border: 1px solid #28aa14;
  color: #28aa14;
}
.btn--mark:active,
.card-info__get-btn:active,
.list-get-more:active {
  background-color: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.45);
  border: 1px solid transparent;
}
.btn--mark input[type="submit"],
.card-info__get-btn input[type="submit"],
.list-get-more input[type="submit"] {
  border: 0;
}
.btn--mark .nav-icon,
.card-info__get-btn .nav-icon,
.list-get-more .nav-icon {
  fill: #fff;
}
.btn--disable {
  border: 1px solid rgba(0,0,0,0.45);
  background-color: #fff;
  color: #000;
}
.btn--light,
.filter-get__el {
  border: 1px solid rgba(0,0,0,0.45);
  background-color: #fff;
}
.btn--light:hover,
.filter-get__el:hover {
  border: 1px solid #111;
}
.btn--light:active,
.filter-get__el:active {
  border: 1px solid rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.2);
}
.btn--light .nav-icon,
.filter-get__el .nav-icon {
  fill: #111;
}
.btn--dark,
.section-sale__info-get,
.section-sale-get--mobile a {
  border: 1px solid #fff;
  color: #fff;
  background: none;
}
.btn--dark:hover,
.section-sale__info-get:hover,
.section-sale-get--mobile a:hover {
  border: 1px solid #999;
  color: #999;
}
.btn--dotted {
  border: 1px dashed #d7d7d7;
  background-color: #fff;
  text-align: center;
}
.btn--white {
  border: 1px solid rgba(255,255,255,0.9);
  color: rgba(255,255,255,0.9);
}
.btn--white .nav-icon {
  fill: rgba(255,255,255,0.9);
}
.btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--darken {
  border-color: rgba(255,255,255,0.3);
  color: #fff;
  background: none;
}
.btn--darken:hover {
  border-color: #fff;
}
.btn--darken:active {
  color: rgba(255,255,255,0.3);
}
.nav-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.btn--hover {
  transform: perspective(100px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  transition-property: color;
  transition-duration: 0.1s;
}
.btn--hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aaa;
  border-radius: 10%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
}
.btn--hover:hover,
.btn--hover:focus,
.btn--hover:active {
  color: #fff;
}
.btn--hover:hover:before {
  transform: scale(2);
}
.btn--hover:focus:before {
  transform: scale(2);
}
.btn--hover:active:before {
  transform: scale(2);
}
button {
  font-family: 'Roboto', sans-serif;
}
.input,
.textarea,
.select {
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.45);
  resize: none;
  outline: 0 !important;
  font-family: 'Roboto', sans-serif;
  display: block !important;
  margin-bottom: 10px;
  background: #f7f7f8;
  transition: all 0.4s;
}
.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder,
.select::-webkit-input-placeholder {
  color: rgba(0,0,0,0.6);
}
.input::-moz-placeholder,
.textarea::-moz-placeholder,
.select::-moz-placeholder {
  color: rgba(0,0,0,0.6);
}
.input:-moz-placeholder,
.textarea:-moz-placeholder,
.select:-moz-placeholder {
  color: rgba(0,0,0,0.6);
}
.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder,
.select:-ms-input-placeholder {
  color: rgba(0,0,0,0.6);
}
.input:hover::-webkit-input-placeholder,
.textarea:hover::-webkit-input-placeholder,
.select:hover::-webkit-input-placeholder {
  color: #111;
}
.input:hover::-moz-placeholder,
.textarea:hover::-moz-placeholder,
.select:hover::-moz-placeholder {
  color: #111;
}
.input:hover:-moz-placeholder,
.textarea:hover:-moz-placeholder,
.select:hover:-moz-placeholder {
  color: #111;
}
.input:hover:-ms-input-placeholder,
.textarea:hover:-ms-input-placeholder,
.select:hover:-ms-input-placeholder {
  color: #111;
}
.input:focus,
.textarea:focus,
.select:focus {
  border: 1px solid #111;
}
.input--light {
  padding: 20px;
  border: 1px solid rgba(255,255,255,0.6);
  resize: none;
  outline: 0 !important;
  font-family: 'Roboto', sans-serif;
  display: block !important;
  margin-bottom: 10px;
  background: none;
  color: #fff;
  transition: all 0.4s;
}
.input--light::-webkit-input-placeholder {
  color: rgba(255,255,255,0.6);
}
.input--light::-moz-placeholder {
  color: rgba(255,255,255,0.6);
}
.input--light:-moz-placeholder {
  color: rgba(255,255,255,0.6);
}
.input--light:-ms-input-placeholder {
  color: rgba(255,255,255,0.6);
}
.input--light:hover {
  border: 1px solid #fff;
}
.input--light:hover::-webkit-input-placeholder {
  color: #fff;
}
.input--light:hover::-moz-placeholder {
  color: #fff;
}
.input--light:hover:-moz-placeholder {
  color: #fff;
}
.input--light:hover:-ms-input-placeholder {
  color: #fff;
}
.input--light:focus {
  border: 1px solid #fff;
}
.style-label {
  display: flex;
  position: relative;
  align-items: center;
}
.check-el input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.check-el .sytle-input-element {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #111;
  transition: all 0.4s;
}
.check-el .sytle-input-element:hover {
  cursor: pointer;
}
.check-el .sytle-input-element:hover {
  border: 1px solid #111;
}
.check-el .icon-check {
  display: none;
}
.check-el .sytle-input:checked ~ .sytle-input-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.check-el .sytle-input:checked ~ .sytle-input-element .icon-check {
  display: block;
  fill: #000;
  width: 16px;
  height: 16px;
}
.style-label--radio input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.style-label--radio .sytle-input-element {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #111;
  border-radius: 50%;
}
.style-label--radio .sytle-input-element:hover {
  cursor: pointer;
}
.style-label--radio .icon-check {
  display: none;
}
.style-label--radio .sytle-input:checked ~ .sytle-input-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.style-label--radio .sytle-input:checked ~ .sytle-input-element .icon-radio {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #111;
}
/* block footer*/
/*block footer end */
/* block item*/
/*block item end */
body {
  font-family: 'Roboto', sans-serif;
  color: #111;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 1200px;
  }
}
@media only screen and (max-width: 768px) {
  .main-cont.main-cont--mobile {
    *zoom: 1;
    width: auto;
    max-width: 600px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
    padding: 0 10px;
  }
  .main-cont.main-cont--mobile:before,
  .main-cont.main-cont--mobile:after {
    content: '';
    display: table;
  }
  .main-cont.main-cont--mobile:after {
    clear: both;
  }
}
@media only screen and (max-width: 768px) and (min-width: 600px) {
  .main-cont.main-cont--mobile {
    width: 600px;
  }
}
.rub {
  display: inline;
  line-height: 1.3;
}
.marked,
.news-el__title,
.filter-list__el,
.header-nav__drop-list-el a {
  background: linear-gradient(to right, rgba(255,255,255,0) 50.5%, #111 49.5%);
  background-size: 200%;
  background-position: 0 0;
  transition: 0.5s ease-in-out;
  display: inline;
}
.marked:hover,
.news-el__title:hover,
.filter-list__el:hover,
.header-nav__drop-list-el a:hover {
  background-position: -99.999% 0;
  color: #fff;
}
.nice-select {
  border-radius: 0;
  margin-bottom: 20px;
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  line-height: auto;
}
.nice-select .list {
  width: calc(100%);
  left: 0px;
  border-radius: 0;
  border: 0px solid rgba(0,0,0,0.45);
  border-top: 0;
  margin-top: 0;
}
select.select-beauty {
  display: none !important;
}
.element-select {
  padding: 10px 0;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border: 1px solid rgba(0,0,0,0.45);
}
.flag {
  width: 50px;
  height: 65px;
  background: #28aa14;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag-content .icon {
  width: 25px;
  height: 25px;
  fill: #fff;
}
.header-black {
  background: #111;
}
.head-slim {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .head-slim {
    display: none;
  }
}
.head-slim__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
@media only screen and (max-width: 1024px) {
  .head-slim__list {
    width: 70%;
  }
}
.head-slim__list-el {
  transition: all 0.4s;
  color: #fff;
  opacity: 0.4;
}
.head-slim__list-el:hover {
  opacity: 1;
  color: #fff;
}
.head-slim__list-soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-slim__list-soc-el {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}
.head-slim__list-soc-el .icon {
  transition: all 0.4s;
  width: 25px;
  height: 25px;
  fill: #fff;
  opacity: 0.4;
}
.head-slim__list-soc-el .icon:hover {
  opacity: 1;
}
.head-slim__list-soc-el--inst .icon {
  width: 20px;
  height: 20px;
}
.head-slim__list-soc-el--apple .icon {
  width: 23px;
  height: 23px;
}
@media only screen and (max-width: 768px) {
  .header-nav .main-cont {
    padding: 0;
  }
}
.header-nav__wrap {
  display: flex;
  height: 140px;
  background: #fff;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .header-nav__wrap {
    height: 100px;
  }
}
@media only screen and (max-width: 640px) {
  .header-nav__wrap {
    height: 50px;
  }
}
.header-nav__logo {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 640px) {
  .header-nav__logo {
    width: 110px;
    margin-left: 20px;
  }
}
.header-nav__logo .icon {
  width: 70%;
}
@media only screen and (max-width: 640px) {
  .header-nav__logo .icon {
    width: 100%;
  }
}
.header-nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  transition: all 0.4s;
  background: #28aa14;
  width: 140px;
}
@media only screen and (max-width: 1024px) {
  .header-nav__menu {
    width: 100px;
  }
}
@media only screen and (max-width: 640px) {
  .header-nav__menu {
    width: 50px;
  }
}
.header-nav__menu:hover {
  cursor: pointer;
}
.header-nav__menu:hover {
  background: #31cf19;
}
.header-nav__menu-icon .icon {
  width: 50px;
  height: 50px;
  fill: #fff;
}
@media only screen and (max-width: 1024px) {
  .header-nav__menu-icon .icon {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 640px) {
  .header-nav__menu-icon .icon {
    width: 16px !important;
    margin-right: 0 !important;
  }
}
.header-nav__menu-text {
  color: #fff;
  font-family: Bebas;
  font-size: 18px;
}
@media only screen and (max-width: 640px) {
  .header-nav__menu-text {
    display: none;
  }
}
.header-nav-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}
@media only screen and (max-width: 640px) {
  .header-nav-info {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .header-nav-info__phone {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 640px) {
  .header-nav-info__phone {
    display: none;
  }
}
.header-nav-info__phone-number {
  margin-bottom: 5px;
}
@media only screen and (max-width: 1024px) {
  .header-nav-info__phone-number {
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 24px;
  }
}
.header-nav-info__phone-number span {
  color: #9b9b9b;
  display: inline-block;
  margin-right: 8px;
}
.header-nav-info__phone-text {
  color: #ff4136;
}
@media only screen and (max-width: 720px) {
  .header-nav-info__phone-text {
    display: none;
  }
}
.header-nav-info__phone-text:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1048px) {
  .header-nav-info__time {
    display: none;
  }
}
.header-nav-info__time-el:first-child {
  margin-bottom: 15px;
}
.header-nav-info__time-el span {
  display: inline-block;
  width: 45px;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 5px;
}
.header-nav__enter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 140px;
  border-left: 1px solid #e5e5e5;
}
@media only screen and (max-width: 1024px) {
  .header-nav__enter {
    width: 15%;
  }
}
@media only screen and (max-width: 640px) {
  .header-nav__enter {
    width: 50px;
    margin-left: auto;
  }
}
.header-nav__enter:hover {
  cursor: pointer;
}
.header-nav__enter:hover .icon {
  fill: #111;
}
.header-nav__enter:hover .header-nav__enter-text {
  color: #28aa14;
}
.header-nav__enter-icon .icon {
  transition: all 0.4s;
  width: 40px;
  height: 40px;
  fill: #a8a8a8;
}
@media only screen and (max-width: 1024px) {
  .header-nav__enter-icon .icon {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 640px) {
  .header-nav__enter-icon .icon {
    margin-right: 0 !important;
    width: 22px;
    height: 22px;
  }
}
.header-nav__enter-text {
  font-family: Bebas;
  font-size: 18px;
  transition: all 0.4s;
}
@media only screen and (max-width: 640px) {
  .header-nav__enter-text {
    display: none;
  }
}
.header-nav__cart {
  border-left: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 140px;
}
@media only screen and (max-width: 1024px) {
  .header-nav__cart {
    width: 15%;
  }
}
@media only screen and (max-width: 640px) {
  .header-nav__cart {
    width: 50px;
  }
}
.header-nav__cart:hover {
  cursor: pointer;
}
.header-nav__cart:hover .icon {
  fill: #111;
}
.header-nav__cart:hover .header-nav__cart-text {
  color: #28aa14;
}
.header-nav__cart-icon {
  position: relative;
}
.header-nav__cart-icon .icon {
  transition: all 0.4s;
  width: 40px;
  height: 40px;
  fill: #a8a8a8;
}
@media only screen and (max-width: 1024px) {
  .header-nav__cart-icon .icon {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 640px) {
  .header-nav__cart-icon .icon {
    margin-right: 0 !important;
    width: 22px;
    height: 22px;
  }
}
.header-nav__cart-text {
  font-family: Bebas;
  font-size: 18px;
  transition: all 0.4s;
}
@media only screen and (max-width: 640px) {
  .header-nav__cart-text {
    display: none;
  }
}
.header-nav__cart-val {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #ff2828;
  color: #fff;
  position: absolute;
  font-size: 12px;
  right: -12px;
  top: -5px;
}
@media only screen and (max-width: 768px) {
  .header-nav__cart-val {
    width: 18px;
    height: 18px;
    font-size: 10px;
    right: -5px;
  }
}
.pattern-black,
.footer__dark,
.section-sale {
  background-image: url("../img/pattern.png");
  position: relative;
  background-color: #111;
  background-repeat: repeat;
  -webkit-background-size: 200px;
  background-size: 200px;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
  margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  .banner {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 640px) {
  .banner {
    margin: 20px 0;
  }
}
.banner-img {
  padding: 3vw 5vw;
  background: #111;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
}
@media only screen and (max-width: 768px) {
  .banner-img {
    width: 100%;
    margin-bottom: 20px;
    padding: 20vw;
  }
}
.banner-state__col {
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
}
@media only screen and (max-width: 768px) {
  .banner-state__col {
    width: 100%;
    flex-flow: row;
  }
}
@media only screen and (max-width: 640px) {
  .banner-state__col {
    flex-flow: column;
  }
}
.banner-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  transition: all 0.4s;
  border: 1px solid rgba(255,255,255,0.2);
  height: 48%;
  position: relative;
  padding: 2vw;
}
@media only screen and (max-width: 768px) {
  .banner-state {
    height: auto;
    padding: 5%;
    width: 48%;
  }
}
@media only screen and (max-width: 640px) {
  .banner-state {
    margin-bottom: 20px;
    width: 100%;
  }
}
.banner-state:hover {
  background: #28aa14;
}
.banner-state .flag {
  position: absolute;
  top: 0;
  right: 20px;
}
.banner-state__title {
  color: #fff;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .banner-state__title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .banner-state__title {
    margin-bottom: 20px;
  }
}
.banner-state__text {
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .banner-state__text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .banner-state__text {
    width: 100%;
  }
}
.footer {
  margin-top: 55px;
}
.footer-slim .footer {
  margin-top: 0;
}
.footer__top {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 60px 0;
}
@media only screen and (max-width: 768px) {
  .footer__top {
    justify-content: flex-start;
    padding: 30px 0;
  }
}
@media only screen and (max-width: 640px) {
  .footer__top {
    flex-flow: column;
  }
}
.footer__list {
  width: 65%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  grid-auto-flow: column;
}
@media only screen and (max-width: 768px) {
  .footer__list {
    display: none;
  }
}
.footer__list-el {
  transition: all 0.4s;
  color: rgba(255,255,255,0.71);
}
.footer__list-el:hover {
  color: #fff;
}
.footer-contact {
  width: 30%;
}
@media only screen and (max-width: 768px) {
  .footer-contact {
    width: 45%;
  }
}
@media only screen and (max-width: 640px) {
  .footer-contact {
    width: 100%;
    max-width: 280px;
    margin-bottom: 20px;
  }
}
.footer-contact__phone {
  margin-bottom: 20px;
}
.footer-contact__phone-el {
  color: #fff;
  display: block;
  margin-bottom: 10px;
}
.footer-contact__phone-el:hover {
  color: #fff;
}
.footer__time-el {
  color: #fff;
}
.footer__time-el:first-child {
  margin-bottom: 15px;
}
.footer__time-el span {
  display: inline-block;
  width: 45px;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 5px;
}
.footer__bottom {
  padding: 60px 0;
}
@media only screen and (max-width: 640px) {
  .footer__bottom {
    padding: 30px 0;
  }
}
.footer__bottom-wrap {
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  width: 28%;
}
@media only screen and (max-width: 768px) {
  .footer__copy {
    width: 100%;
    text-align: center;
  }
}
.footer__copy-text {
  margin-bottom: 15px;
}
.footer__copy-text span {
  color: #28aa14;
}
.footer__copy-link {
  margin-bottom: 10px;
  display: inline-block;
}
@media only screen and (max-width: 640px) {
  .footer__copy-link {
    display: block;
  }
}
.footer__bottom-menu {
  width: 34%;
  display: grid;
  grid-template-rows: repeat(3, 40px);
  grid-gap: 10px;
  grid-auto-flow: column;
}
@media only screen and (max-width: 768px) {
  .footer__bottom-menu {
    display: none;
  }
}
.footer__pay {
  width: 30%;
}
@media only screen and (max-width: 768px) {
  .footer__pay {
    display: none;
  }
}
.footer__pay-row {
  display: flex;
  margin-bottom: 10px;
}
.footer__pay-row .icon {
  width: 55px;
  height: 45px;
}
.footer__pay-row__el--visa {
  margin-left: 10px;
}
.footer__pay-row__el--visa .icon {
  width: 65px;
}
.footer__pay-text {
  line-height: 1.6;
}
.section-content {
  padding: 60px 0;
}
@media only screen and (max-width: 768px) {
  .section-content {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 640px) {
  .section-content--news .main-cont {
    *zoom: 1;
    width: auto;
    max-width: 300px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
    padding: 0 10px;
  }
  .section-content--news .main-cont:before,
  .section-content--news .main-cont:after {
    content: '';
    display: table;
  }
  .section-content--news .main-cont:after {
    clear: both;
  }
}
@media only screen and (max-width: 640px) and (min-width: 300px) {
  .section-content--news .main-cont {
    width: 300px;
  }
}
.title--section {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .title--section {
    margin-bottom: 30px;
    line-height: 1;
  }
}
.item-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .item-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .item-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 640px) {
  .item-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
.item-el {
  display: flex;
  flex-flow: column;
  position: relative;
  background: #fff;
}
@media only screen and (max-width: 640px) {
  .item-el {
    flex-flow: row;
  }
}
.item-el:hover {
  cursor: pointer;
}
.item-el:hover .item-el__title {
  background-position: -99.999% 0;
  color: #fff;
}
.item-el__wrapper {
  display: flex;
  flex-flow: column;
  border: 1px solid #d9d9d9;
  border-top: 0;
  flex-grow: 1;
}
@media only screen and (max-width: 640px) {
  .item-el__wrapper {
    width: 70%;
  }
}
.item-el__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 6vw;
  display: block;
}
@media only screen and (max-width: 1280px) {
  .item-el__img {
    padding: 8vw;
  }
}
@media only screen and (max-width: 768px) {
  .item-el__img {
    padding: 15vw;
  }
}
.item-el__content {
  padding: 20px;
  flex-grow: 1;
}
@media only screen and (max-width: 640px) {
  .item-el__content {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    border-top: 1px solid #d9d9d9;
  }
}
.item-el__title {
  display: inline;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #111 50%);
  background-position: 0% 0;
  background-size: 200.3% auto;
  transition: background-position 0.5s ease-out, color 0.8s;
}
@media only screen and (max-width: 640px) {
  .item-el__title {
    font-size: 5vw;
  }
}
.item-el__title:hover {
  background-position: -99.999% 0;
  color: #fff;
}
.item-el__text {
  margin-top: 10px;
  line-height: 1.6;
}
@media only screen and (max-width: 640px) {
  .item-el__text {
    display: none;
  }
}
.item-el__info {
  display: flex;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media only screen and (max-width: 640px) {
  .item-el__info {
    display: none;
  }
}
.item-el__info-price {
  width: 50%;
  text-align: center;
  padding: 15px 0;
  border-right: 1px solid #d9d9d9;
}
.item-el__price--mobile {
  display: none;
}
@media only screen and (max-width: 640px) {
  .item-el__price--mobile {
    font-size: 4vw;
    margin-top: auto;
    display: block;
    color: #28aa14;
  }
}
.item-el__info-get {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  text-align: center;
  width: 50%;
}
.item-el__info-get:hover {
  cursor: pointer;
}
.item-el__info-get:hover {
  background: #28aa14;
  color: #fff;
}
.item-el__info-get:hover .icon {
  fill: #fff;
}
.item-el__info-get .icon {
  transition: all 0.4s;
  width: 15px;
  height: 15px;
}
.item-el__add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.item-el__info-get-text {
  margin-right: 5px;
}
.item-el__info-get-plus {
  fill: #28aa14;
}
.item-el__descr {
  padding: 15px 0;
  text-align: center;
  color: #919191;
}
@media only screen and (max-width: 640px) {
  .item-el__descr {
    display: none;
  }
}
.item-el-slider {
  background: #aaa;
  grid-column: 3/5;
}
@media only screen and (max-width: 1024px) {
  .item-el-slider {
    grid-column: 1/4;
  }
}
@media only screen and (max-width: 768px) {
  .item-el-slider {
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 640px) {
  .item-el-slider {
    grid-column: 1/2;
  }
}
.item-el__incr {
  display: none;
  width: 100%;
  height: 100%;
}
.item-el__incr .incr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  background: #28aa14;
  height: 100%;
}
.item-el__incr .incr__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}
.item-el__incr .incr__nav .icon {
  width: 15px;
  height: 15px;
  fill: #fff;
}
.item-el__incr .incr__val {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
.item-el__info-get--incr {
  background: #28aa14;
}
.item-el__info-get--incr .item-el__add {
  display: none;
}
.item-el__info-get--incr .item-el__incr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-mod {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}
@media only screen and (max-width: 640px) {
  .item-mod {
    justify-content: flex-start;
    right: initial;
    top: 6px;
    left: -3px;
  }
}
.item-mod-el {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 640px) {
  .item-mod-el {
    width: 25px;
    height: 25px;
  }
}
.item-mod-el .icon {
  fill: #fff;
}
.item-mod-el--percent {
  background: #ff2828;
}
.item-mod-el--percent .icon {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 640px) {
  .item-mod-el--percent .icon {
    width: 15px;
    height: 15px;
  }
}
.item-mod-el--new {
  background: #28aa14;
}
.item-mod-el--new .icon {
  width: 20px;
  height: 10px;
}
@media only screen and (max-width: 640px) {
  .item-mod-el--new .icon {
    width: 15px;
    height: 15px;
  }
}
.section-sale {
  padding: 80px 0;
}
@media only screen and (max-width: 1024px) {
  .section-sale .main-cont {
    *zoom: 1;
    width: auto;
    max-width: 768px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
    padding: 0 10px;
  }
  .section-sale .main-cont:before,
  .section-sale .main-cont:after {
    content: '';
    display: table;
  }
  .section-sale .main-cont:after {
    clear: both;
  }
}
@media only screen and (max-width: 768px) {
  .section-sale {
    padding: 30px 0;
  }
  .section-sale .main-cont {
    *zoom: 1;
    width: auto;
    max-width: 600px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
    padding: 0 10px;
  }
  .section-sale .main-cont:before,
  .section-sale .main-cont:after {
    content: '';
    display: table;
  }
  .section-sale .main-cont:after {
    clear: both;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .section-sale .main-cont {
    width: 768px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 600px) {
  .section-sale .main-cont {
    width: 600px;
  }
}
.section-sale__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
@media only screen and (max-width: 1024px) {
  .section-sale__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-sale__wrap .item-el:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .section-sale__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 1024px) {
  .section-sale__info {
    grid-column: 1/4;
  }
}
@media only screen and (max-width: 640px) {
  .section-sale__info {
    grid-column: 1/2;
  }
}
.section-sale__info-title {
  color: #ff2828;
  font-family: Liana;
  font-size: 38px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .section-sale__info-title {
    margin-bottom: 20px;
  }
}
.section-sale__info-text {
  margin-bottom: 40px;
  color: #fff;
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .section-sale__info-text {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .section-sale__info-get {
    display: none;
  }
}
.news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media only screen and (max-width: 768px) {
  .news-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 640px) {
  .news-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.news-el {
  display: flex;
  flex-flow: column;
}
@media only screen and (max-width: 768px) {
  .news-el:last-child {
    display: none;
  }
}
.news-el:hover .news-el__title {
  background-position: -99.999% 0;
  color: #fff;
}
.news-el__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10vw 6vw;
  display: block;
}
@media only screen and (max-width: 640px) {
  .news-el__img {
    padding: 25vw 10vw;
  }
}
.news-el__wrapper {
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  flex-grow: 1;
  background: #fff;
}
.news-el__title {
  transition: all 0.4s;
  display: inline;
}
.news-el__text {
  color: #404040;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
}
.news-el__date {
  color: #949494;
  text-transform: uppercase;
  margin-top: auto;
}
.slogan {
  *zoom: 1;
  width: auto;
  max-width: 600px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.slogan:before,
.slogan:after {
  content: '';
  display: table;
}
.slogan:after {
  clear: both;
}
@media only screen and (min-width: 600px) {
  .slogan {
    width: 600px;
  }
}
.slogan-title-top {
  color: #ff2828;
  font-family: Liana;
  font-size: 48px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .slogan-title-top {
    text-align: center;
    font-size: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .slogan-title {
    text-align: center;
  }
}
@media only screen and (max-width: 640px) {
  .slogan-title {
    font-size: 38px;
  }
}
.slogan-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding: 25%;
  margin-top: -7%;
  position: relative;
  margin-bottom: 20px;
}
.slogan-text {
  line-height: 1.6;
  margin-bottom: 30px;
}
.slogan-info__text {
  margin-bottom: 20px;
}
.slogan-info__numb {
  margin-bottom: 10px;
}
.scroll-top {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  width: 80px;
  height: 80px;
  background: #28aa14;
  position: absolute;
  right: 0;
  top: 0;
}
.scroll-top:hover {
  cursor: pointer;
}
.scroll-top:hover {
  background: #33d819;
}
.scroll-top .icon {
  fill: #fff;
  width: 30px;
  height: 30px;
}
.bread {
  display: flex;
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .bread {
    margin-bottom: 20px;
  }
}
.bread__el {
  margin-right: 40px;
  position: relative;
  transition: all 0.4s;
  color: #fff;
  opacity: 0.4;
}
.bread__el:hover {
  opacity: 1;
  color: #fff;
}
.bread__el:last-child:before {
  display: none;
}
.bread__el:before {
  content: '-';
  position: absolute;
  color: #fff;
  opacity: 0.4;
  top: 0;
  right: -25px;
}
.bread-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.card-img {
  width: 50%;
  padding: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.card-info {
  width: 35%;
}
.card-info__title-top {
  color: #ff2828;
  font-family: Liana;
  margin-bottom: 20px;
  font-size: 48px;
}
.card-info__title {
  color: #fff;
  margin-bottom: 20px;
}
.card-info__text {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 60px;
}
.card-info__weight {
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}
.card-info__get {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-info__get-val {
  display: flex;
  color: #fff;
}
.card-info__get-price {
  margin-right: 10px;
}
.head-title {
  padding-top: 50px;
}
.head-title__sub {
  text-align: center;
  color: #ff2828;
  font-family: Liana;
}
.head-title__text {
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  line-height: 1;
  margin-bottom: 40px;
}
.head-title__text:before,
.head-title__text:after {
  content: '';
  display: table;
}
.head-title__text:after {
  clear: both;
}
@media only screen and (min-width: 800px) {
  .head-title__text {
    width: 800px;
  }
}
.filter-get {
  display: flex;
}
.filter-get__el {
  margin-left: 20px;
}
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}
.filter-list__el {
  margin-right: 20px;
  margin-bottom: 20px;
}
.filter-get {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.btn-row--mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-get-more {
  margin-top: 50px;
}
.discount-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 100px;
}
.discount-el {
  display: flex;
  flex-flow: column;
}
.discount-el:hover .discount-el__title {
  background: #111;
  color: #fff;
}
.discount-el__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 35%;
  display: block;
}
.discount-el__wrapper {
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 20px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  background: #fff;
}
.discount-el__title {
  transition: all 0.4s;
  margin-bottom: 20px;
}
.discount-el__date {
  color: #949494;
  text-transform: uppercase;
  margin-top: auto;
}
.news-list--container {
  margin-bottom: 100px;
}
.content-info__wrap img {
  margin-bottom: 40px;
}
.content-info__wrap .content-info:last-child {
  margin-bottom: 0;
}
.content-info {
  *zoom: 1;
  width: auto;
  max-width: 760px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 50px;
  line-height: 1.6;
}
.content-info:before,
.content-info:after {
  content: '';
  display: table;
}
.content-info:after {
  clear: both;
}
@media only screen and (min-width: 760px) {
  .content-info {
    width: 760px;
  }
}
.content-info p {
  margin-top: 0;
  margin-bottom: 35px;
}
.content-info p:last-child {
  margin-bottom: 0;
}
.icon-logo-sm {
  display: none;
}
@media only screen and (max-width: 640px) {
  .icon-logo-sm {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  .icon-logo-md {
    display: none;
  }
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  animation: slideInDown 1s 1 ease-in-out;
  z-index: 10;
  border-bottom: 1px solid #e5e5e5;
}
.shrink .head-slim {
  display: none;
}
.shrink .header-nav__wrap {
  margin-bottom: 0;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.shrink .header-nav-info__time {
  display: none;
}
.shrink .icon-logo-md {
  display: none;
}
.shrink .icon-logo-sm {
  display: block;
  height: 100%;
}
.shrink .header-nav-info__phone {
  width: 100%;
  display: flex;
  align-items: center;
}
.shrink .header-nav-info__phone-number {
  margin-bottom: 0;
  margin-right: 20px;
}
@media only screen and (max-width: 640px) {
  .shrink .header-nav-info__phone-number {
    display: none;
  }
}
.shrink .header-nav__enter {
  flex-flow: row;
}
.shrink .header-nav__enter .icon {
  margin-right: 10px;
  width: 22px;
  height: 22px;
}
.shrink .header-nav__cart {
  flex-flow: row;
}
.shrink .header-nav__cart .icon {
  margin-right: 10px;
  width: 22px;
  height: 22px;
}
.shrink .header-nav__menu {
  flex-flow: row;
}
.shrink .header-nav__menu .icon {
  margin-right: 10px;
  width: 22px;
  height: 22px;
}
.shrink .header-nav__wrap {
  height: 50px;
}
.shrink .header-nav__cart-val {
  width: 18px;
  height: 18px;
  font-size: 10px;
  right: 0;
}
@media only screen and (max-width: 640px) {
  .shrink .header-nav__cart-val {
    right: -5px;
  }
}
.shrink .header-nav__drop {
  left: -1px;
  width: calc(100% + 2px);
}
#mobile-menu {
  background: #fff;
  border-top: 1px solid #e6e6e6;
}
@media only screen and (min-width: 769px) {
  #mobile-menu {
    display: none !important;
  }
}
#mobile-menu:not( .mm-menu ) {
  display: none;
}
.mobile-menu-el {
  padding: 10px 0 !important;
  display: inline-block;
  color: #111;
  font-size: 16px;
  font-weight: 600;
}
.mobile-menu-el .header__sub-menu__el {
  width: 100%;
  display: flex;
}
.mm-listview>li:not(.mm-divider):after {
  left: 0;
}
.mm-menu .mm-listview>li .mm-next:after,
.mm-menu .mm-btn:after,
.mm-menu .mm-btn:before {
  border-color: #111;
}
.mm-title {
  color: #111 !important;
}
.mm-navbar {
  background: #efeeee;
}
html.mm-opened {
  overflow: hidden;
}
.mobile-menu-el--sub a:after,
.mobile-menu-el--sub a:before {
  border-color: #a5a4a4 !important;
}
.mobile-menu-el--sub span,
.mobile-menu-el--sub a {
  color: #a5a4a4 !important;
}
.header-mobile-togle--open .icon-menu-close {
  display: block;
}
.header-mobile-togle--open .icon-menu {
  display: none;
}
.icon-menu-close {
  display: none;
}
.header-nav__menu-toggle {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 769px) {
  .header-nav__menu-toggle {
    display: none;
  }
}
.icon--close {
  display: none;
}
.header-nav__menu--open .icon--menu {
  display: none;
}
.header-nav__menu--open .icon--close {
  display: block;
  width: 16px;
  height: 16px;
}
@media only screen and (min-width: 769px) {
  .header-nav__menu--mob {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header-nav__menu--desct {
    display: none;
  }
}
.header-nav__menu--desct:hover .header-nav__drop {
  display: block;
  height: auto;
  width: 100%;
  padding: 5%;
  clip: initial;
  margin: 0;
  opacity: 1;
}
.header-nav__drop {
  position: absolute;
  background: #fff;
  top: 100%;
  left: 0px;
  z-index: 10;
  border: 1px solid #e5e5e5;
  padding: 5%;
  height: 1px;
  margin: -1px;
  width: 1px;
  padding: 0;
  clip: rect(0 0 0 0);
  transition: opacity 0.5s;
  opacity: 0;
}
.header-nav__drop-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__drop-list {
  width: 65%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  grid-auto-flow: column;
}
.header-nav__drop-img {
  width: 30%;
}
.header-nav__drop-img-el {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding: 30%;
  display: block;
}
.mobile-menu__info {
  padding: 30px;
  background: #28aa14;
}
@media only screen and (min-width: 640px) {
  .mobile-menu__info {
    display: none;
  }
}
.mobile-menu__numb {
  text-align: center;
  color: #fff;
  display: block;
  font-family: Bebas;
  font-size: 35px;
  margin-bottom: 20px;
}
.mobile-menu__time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: #fff;
}
.mobile-menu__time-el {
  font-size: 15px;
}
.mobile-menu__time-el:first-child {
  margin-bottom: 15px;
}
.mobile-menu__time-el span {
  display: inline-block;
  width: 45px;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 5px;
}
.section-sale-get--mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .section-sale-get--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}
.footer__pay--dark {
  display: none;
}
@media only screen and (max-width: 768px) {
  .footer__pay--dark {
    display: block;
    color: #fff;
  }
  .footer__pay--dark .icon {
    fill: #111;
  }
}
@media only screen and (max-width: 640px) {
  .footer__pay--dark {
    width: 100%;
    max-width: 280px;
  }
}
.item-el__get {
  border: 1px solid #d9d9d9;
  margin-left: -1px;
  display: none;
}
@media only screen and (max-width: 640px) {
  .item-el__get {
    display: flex;
    flex-flow: column;
    width: 15%;
  }
}
.item-el__get .icon {
  width: 16px;
  height: 16px;
}
.item-el__get-el {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-el__get-el:first-child {
  border-bottom: 1px solid #d9d9d9;
  transition: all 0.4s;
}
.item-el__get-el:first-child:hover {
  background: #28aa14;
}
.item-el__get-el:first-child:hover .icon {
  fill: #fff;
}
.item-el__get-el:first-child .icon {
  fill: #28aa14;
}
