include block_html/_style.pug
include block_html/_include.pug

.main-cont
	.bebas я BEBAS
	.liana я liana
	.Roboto я ROBOT
	a(href="#").link Ссылка
	a(href="#").link--mark Ссылка


include ./block_html/_script.pug
