include block_html/_style.pug
include block_html/_include.pug

.pattern-black
	+header()
	.head-title
		.head-title__sub Новости и события
		.head-title__text Мастер класс от шеф-повара владимира семенова
	//bread
	.bread-row
		.bread
			a(href="#").bread__el Пункт 1
			a(href="#").bread__el Пункт 2
			a(href="#").bread__el Пункт 3
//section-news
.section-content
	.content-info__wrap
		.main-cont
			.content-info
				p Представители Торговой промышленной палаты превратились в мастеров 20 февраля, в преддверии Дня защитника Отечества, в Торговой промышленной палате Тюменской области прошел необычный мастер-класс. Провел его для всех мужчин сотрудников Денис первоклассный бренд-шеф компании «Пропорцияя», которая является действительным членом Палаты.
			img(src="img/news-img.jpg", alt="")
			.content-info
				h3 Истории от шеф-поваров
				p Представители Торговой промышленной палаты превратились в мастеров 20 февраля, в преддверии Дня защитника Отечества, в Торговой промышленной палате Тюменской области прошел необычный мастер-класс. Провел его для всех мужчин сотрудников Денис первоклассный бренд-шеф компании «Пропорцияя», которая является действительным членом Палаты.
				p Представители Торговой промышленной палаты превратились в мастеров 20 февраля, в преддверии Дня защитника Отечества, в Торговой промышленной палате Тюменской области прошел необычный мастер-класс. Провел его для всех мужчин сотрудников Денис первоклассный бренд-шеф компании «Пропорцияя», которая является действительным членом Палаты.
				p Представители Торговой промышленной палаты превратились в мастеров 20 февраля, в преддверии Дня защитника Отечества, в Торговой промышленной палате Тюменской области прошел необычный мастер-класс. Провел его для всех мужчин сотрудников Денис первоклассный бренд-шеф компании «Пропорцияя», которая является действительным членом Палаты.

+footer()
include ./block_html/_script.pug
