include block_html/_style.pug
include block_html/_include.pug

.pattern-black
	+header()
	.head-title
		.head-title__sub Новости и события
		.head-title__text Будьте вкурсе
	//bread
	.bread-row
		.bread
			a(href="#").bread__el Пункт 1
			a(href="#").bread__el Пункт 2
			a(href="#").bread__el Пункт 3
	.main-cont
		.news-list.news-list--container
			- for (var i=0;i<9;i++)
				.news-el
					.news-el__img-wrap
						a(href="#" style="background-image:url('img/news.jpg')").news-el__img
					.news-el__wrapper
						a(href="#").news-el__title С 8 Марта! дорогие женщины
						.news-el__text С 8 марта "Пропорция" приготовил для вас новое меню!) Если вы хотите сделать предзаказ на 8 марта сегодня
						.news-el__date 05 Марта, 2017

.footer-slim
	+footer()
include ./block_html/_script.pug
