// ============================ Curent color ============================
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

$blue = #3a90c8
$green = #28aa14
$red = #ff2828

$main-text-color = black
$link-color = black

$link-color-visited = gray
$link-color-hover = black
$border-color = rgba(0, 0, 0, 0.45)

//  ============================ Typography ============================

webfont('RUB', 'rouble-webfont', 'normal')
//Add fotn rub write .rub a - (a,b,c,d - change type font)

//webfont('PT Sans', 'PT Sans', 'normal')
$v-font =  'Roboto', sans-serif

$weigh-light = 300
$weigh-normal = 400
$weigh-bold = 700

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

.type--xs
	typeSize(12,10)

.type--sm
	typeSize(14,12)

.type--main
	typeSize(15,12)

.type--md
	typeSize(22,18)
	font-family Bebas

.type--lg
	typeSize(28,22)
	font-family Bebas

.type--xl
	typeSize(50,35)
	font-family Bebas

.type--xxl
	typeSize(68,48)
	font-family Bebas

.type--bold
	font-weight bold

h1
	@extend .type--xxl
	margin-top: 0
	line-height: 1
h2
	@extend .type--xl
	margin-top: 0
	line-height: 1
h3
	@extend .type--lg
	margin-top: 0
	line-height: 1
h4
	@extend .type--md
	margin-top: 0
	line-height: 1
h5
	@extend .type--main
	margin-top: 0
	line-height: 1

a
	color $link-color
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

p
	@extend .type--main

.link
	display: inline-block
	position: relative
	&:before
		content ''
		position: absolute
		display: inline-block
		bottom -2px
		height: 1px
		width: 100%
		background: $border-color
	&:hover
		&:before
			display: none


.link--mark
	@extend .link
	color $red
	&:before
		content ''
		background: $red
	&:hover
		background: $red

.link--light
	@extend .link
	color white
	&:before
		content ''
		bottom -2px
		height: 1px
		width: 100%
		background: rgba(255, 255, 255, 0.3)
	&:hover
		background: white
		color black

.link--text
	color $blue
	text-decoration underline
	&:hover
		text-decoration none



// ============================ Buttons ============================

btnStyle(bg-btn,color-btn)
	background bg-btn
	color color-btn
	border 1px solid color-btn
	&:hover
		background darken(bg-btn,20)
		color color-btn

btnStyleLight(br-btn,color-btn)
	color color-btn
	border br-btn solid color-btn
	&:hover
		color darken(color-btn,20)
		border br-btn solid darken(color-btn,20)

.btn
	up()
	br(0px)
	tr(all)
	up()
	display inline-block
	background none
	border 1px solid transparent
	text-align: center
	font-family Bebas
	&:hover
		cursor pointer

.btn--sm
	@extend .btn
	font-size: 16px
	padding 10px 30px
	.nav-icon
		size 10px

.btn--sm-fix
	width: 150px
	padding: 10px
	@extend .type--md

.btn--md
	@extend .btn
	@extend .type--md
	padding 20px 45px

.btn--md-fix
	@extend .type--md
	padding: 15px
	width: 200px

.btn--lg
	@extend .btn
	font-size 20px
	padding 10px 30px

.btn--mobile
	@extend .btn
	+below(768px)
		width 100%
		text-align center

.btn--mark
	@extend .btn
	color white
	background $green
	.nav-icon
		fill white
	&:hover
		background-color white
		border 1px solid $green
		color $green
	&:active
		background-color rgba(0, 0, 0, 0.1)
		color rgba(0, 0, 0, 0.45)
		border 1px solid transparent
	input[type="submit"]
		border 0
	.nav-icon
		fill white

.btn--disable
	@extend .disabled
	border 1px solid $border-color
	background-color #ffffff
	color #000000

.btn--light
	@extend .btn
	border 1px solid $border-color
	background-color #ffffff
	&:hover
		border 1px solid black
	&:active
		border 1px solid rgba(0, 0, 0, 0.2)
		color rgba(0, 0, 0, 0.2)
	.nav-icon
		fill black

.btn--dark
	@extend .btn
	border 1px solid white
	color #ffffff
	background: none
	&:hover
		border 1px solid darken(white,40)
		color darken(white,40)


.btn--dotted
	@extend .btn
	border 1px dashed #d7d7d7
	background-color #ffffff
	text-align center

.btn--white
	@extend .btn
	border 1px solid rgba(255, 255, 255, 0.9)
	color rgba(255, 255, 255, 0.9)
	.nav-icon
		fill rgba(255, 255, 255, 0.9)

.btn--icon
	flex(mid)

.btn--darken
	@extend .btn
	border-color rgba(255, 255, 255, 0.3)
	color white
	background: none
	&:hover
		border-color white
	&:active
		color rgba(255, 255, 255, 0.3)



.nav-icon
	display inline-block
	size 20px
	margin 0 10px

.btn--hover
	transform: perspective(100px) translateZ(0)
	box-shadow: 0 0 1px transparent
	position: relative
	overflow: hidden
	transition-property: color
	transition-duration: 0.1s
	&:before
		content: ""
		position: absolute
		z-index: -1
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: gray
		border-radius: 10%
		transform: scale(0)
		transition-property: transform
		transition-duration: 0.35s
		transition-timing-function: ease-out
	&:hover,&:focus,&:active
		color: white

.btn--hover:hover:before
	transform: scale(2)
.btn--hover:focus:before
	transform: scale(2)
.btn--hover:active:before
	transform: scale(2)

button
	font-family $v-font


// ============================ Inputs ============================

.input,.textarea,.select
	padding 20px
	border 1px solid $border-color
	resize: none
	outline: 0 !important
	font-family $v-font
	display block!important
	margin-bottom 10px
	background: #f7f7f8
	tr(all)
	&::-webkit-input-placeholder
		color:rgba(0, 0, 0, 0.6)
	&::-moz-placeholder
		color:rgba(0, 0, 0, 0.6)
	&:-moz-placeholder
		color:rgba(0, 0, 0, 0.6)
	&:-ms-input-placeholder
		color:rgba(0, 0, 0, 0.6)
	&:hover
		&::-webkit-input-placeholder
			color:black
		&::-moz-placeholder
			color:black
		&:-moz-placeholder
			color:black
		&:-ms-input-placeholder
			color:black
	&:focus
		border 1px solid black

.input--light
	padding 20px
	border 1px solid rgba(255, 255, 255, 0.6)
	resize: none
	outline: 0 !important
	font-family $v-font
	display block!important
	margin-bottom 10px
	background: none
	color white
	tr(all)
	&::-webkit-input-placeholder
		color:rgba(255, 255, 255, 0.6)
	&::-moz-placeholder
		color:rgba(255, 255, 255, 0.6)
	&:-moz-placeholder
		color:rgba(255, 255, 255, 0.6)
	&:-ms-input-placeholder
		color:rgba(255, 255, 255, 0.6)
	&:hover
		&::-webkit-input-placeholder
			color:white
		&::-moz-placeholder
			color:white
		&:-moz-placeholder
			color:white
		&:-ms-input-placeholder
			color:white
		border 1px solid white
	&:focus
		border 1px solid white
.style-label
	display flex
	position relative
	align-items center

.style-label--disable
	@extend .disabled

.check-el
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 30px
		height 30px
		position relative
		display inline-block
		margin-right 10px
		background white
		border 1px solid black
		cp()
		tr(all)
		&:hover
			border 1px solid black
	.icon-check
		display none
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			.icon-check
				display block
				fill #000000
				size 16px

.style-label--radio
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 30px
		height 30px
		position relative
		display inline-block
		margin-right 10px
		background white
		border 1px solid black
		round()
		cp()
	.icon-check
		display none
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			.icon-radio
				round()
				size 14px
				background black
