mixin footer()
	//block footer
	.footer
		//footer dark
		.footer__dark
			.main-cont.main-cont--mobile
				.footer__top
					.scroll-top
						+icon("arrow-dirrect-up","icon")
					.footer__list
						-
							var items = [
							'Сеты',
							'Роллы',
							'Суши',
							'Пицца',
							'Пироги',
							'Лапша WOK',
							'Fast food',
							'Бизнес-ланч',
							'Комбо-меню',
							'Супы',
							'Паста',
							'Гриль-меню',
							'Салаты',
							'Десерты',
							'Напитки',
							'Соусы'
							];
						each item in items
							a(href="#").footer__list-el #{item}
					.footer-contact
						.footer-contact__phone
							a(href="tel:8 (3452) 68-10-89").footer-contact__phone-el 8 (3452) 68-10-89
							a(href="tel:8 (3452) 90-00-90").footer-contact__phone-el 8 (3452) 90-00-90
						.footer__time
							.footer__time-el Вс – Чт
								span
								| с 09:00 до 00:00
							.footer__time-el Пт – Сб
								span
								| с 09:00 до 01:00
					.footer__pay.footer__pay--dark
						.footer__pay-row
							.footer__pay-row__el
								+icon("master--light","icon")
							.footer__pay-row__el.footer__pay-row__el--visa
								+icon("visa--light","icon")
						.footer__pay-text Вы можете оплатить покупки картой онлайн, либо выбрать другой способ оплаты.
		//footer dark===end

		//footer bottom
		.footer__bottom
			.main-cont.main-cont--mobile
				.footer__bottom-wrap
					.footer__copy
						.footer__copy-text © 2012-2016 <br> Ресторан доставки
							span Pro-Porcia
						a(href="#").footer__copy-link Политика конфиденциальности
						a(href="#").footer__copy-link Публичная оферта
					.footer__bottom-menu
						-
							var items = [
							"Акции",
							"Отзывы",
							"Доставка и оплата",
							"Новости",
							"Вакансии",
							"О компании"
							];
						each item in items
							a(href="#").footer__bottom-menu-el #{item}
					.footer__pay
						.footer__pay-row
							.footer__pay-row__el
								+icon("master","icon")
							.footer__pay-row__el.footer__pay-row__el--visa
								+icon("visa","icon")
						.footer__pay-text Вы можете оплатить покупки картой онлайн, либо выбрать другой способ оплаты.
		//footer bottom===end

	//slide mobile menu
	.nav#mobile-menu
		ul.mobile-menu__one-lvl
			li.mobile-menu-el
				a(href="#") Меню ресторана
				ul.mobile-menu__two-lvl
					-
						var subitems = [
						'Сеты',
						'Роллы',
						'Суши',
						'Пицца',
						'Пироги',
						'Лапша WOK',
						'Fast food',
						'Бизнес-ланч',
						'Комбо-меню',
						'Супы',
						'Паста',
						'Гриль-меню',
						'Салаты',
						'Десерты',
						'Напитки',
						'Соусы'
						];
					each subitem in subitems
						li.mobile-menu-el
							a(href="#") #{subitem}
				-
					var items = [
						'Меню ресторана',
						'Доставка и оплата',
						'Акции',
						'Отзывы',
						'Новости',
						'Вакансии',
						'О компании'
					];
				each item in items
					li.mobile-menu-el
						a(href="#") #{item}
			li.mobile-menu-el.mobile-menu-el--sub
				span Личный кабинет
				ul.mobile-menu__two-lvl
					li.mobile-menu-el
						span.modal-get(data-modal="enter") Вход
					li.mobile-menu-el
						span.modal-get(data-modal="registration") Регистрация
			.mobile-menu__info

				span.mobile-menu__numb 8 (3452) 90-00-90
				span.mobile-menu__time
					span.mobile-menu__time-el Вс – Чт
						span
						| с 09:00 до 00:00
					span.mobile-menu__time-el Пт – Сб
						span
						| с 09:00 до 01:00

	//slide mobile menu===end
	.modal-layer
		.modal-cont
			.modal-filter

			//modal-sale
			.modal-wrap
				.modal(data-modal="sale").modal-wrap__sale
					.modal-content
						.modal-close
							+icon("close","icon")
						.sale-modal__head
							.sale-modal__head-title-sub Акция
							.sale-modal__head-title Счастья полные часы
						.sale-modal__img(style="background-image:url('img/discount.jpg')")
						.sale-modal__content
							p При заказе пирога - Хачапури в подарок Большой сырный Хачапури на слоеном тесте! Только по вторникам и четвергам с 14-00 до 17-00!
							p *В акции не принимают участия Осетинские пироги! Звони: 90-00-90 PS: обязательно назови ПРОМО-КОД! Акция "Счастливые часы" с 14-00 до 17-00 действует для заказов на текущее время или предзаказов в этот промежуток времени.
						.sale-modal__get
							a(href="#").sale-modal__get-el.sale-modal__get-el--green Посмотреть в меню
							a(href="#").sale-modal__get-el Рассказать друзьям
				//modal-sale===end

				//modal-fogot
				.modal(data-modal="fogot").modal-wrap__fogot
					.modal-content.modal-content--message
						.modal-close
							+icon("close","icon")
						.modal-title Восстановление пароля
						form(action="#")
							input(type="text" placeholder="Телефон или Email").input
							.btn-row--mid
								input(type="submit" value="Напомнить пароль" class="btn--md-fix btn--mark")
				//modal-fogot===end

				//modal-reg
				.modal(data-modal="enter").modal-wrap__regist
					.modal-content
						.modal-close
							+icon("close","icon")
						.modal-tab
							.enter-modal__head
								.enter-modal__head-el.tab-head.tab-head--active(data-tab="enter") Войти
								.enter-modal__head-el.tab-head(data-tab="reg") Зарегистрироваться
							.tab-cont__wrap
								.enter-modal-tab.tab-cont.tab-cont--active(data-tab="enter")
									.enter-modal__content
										form(action="#").enter-modal__form-enter
											input(type="text" placeholder="Телефон").input
											input(type="text" placeholder="Email").input
											.enter-modal__fogot
												span.modal-get(data-modal="fogot") Забыли пароль?
											.btn-row--mid
												input(type="submit" value="Войти" class="btn--md-fix btn--mark")

									.enter-modal__footer
											.enter-modal__text.modal-get(data-modal="true-order") Или войдите через социальные сервисы
											.soc-row
												a(href="#").soc-el
													+icon("soc-inst","icon")
												a(href="#").soc-el
													+icon("soc-twitter","icon")
												a(href="#").soc-el
													+icon("soc-facebook","icon")
												a(href="#").soc-el
													+icon("soc-vk","icon")
								.enter-modal-tab.tab-cont(data-tab="reg")
									.enter-modal__content
										form(action="#").enter-modal__form-reg
											input(type="text" placeholder="Телефон").input
											input(type="text" placeholder="Email").input
											input(type="password" placeholder="Пароль").input
											input(type="password" placeholder="Повторить пароль").input
											.btn-row--mid
												input(type="submit" value="Войти" class="btn--md-fix btn--mark")
									.enter-modal__footer
										.enter-modal__footer-person.modal-get(data-modal="true-reg") Нажимая кнопку “Зарегистрироваться” <br> Вы соглашаетесь
											a(href="#") с условиями обработки <br> персональных данных
				//modal-reg===end

				//modal-true
				.modal(data-modal="true-order").modal-wrap__true
					.modal-content.modal-content--message
						.modal-close
							+icon("close","icon")
						.modal-title Спасибо!<br> Ваш заказ принят
						.modal-text Вы можете проследить за ним <br> в личном кабинете
						.btn-row--mid
							.btn--md-fix.btn--mark.modal-close-btn Хорошо
				//modal-true===end

				//modal-true-reg
				.modal(data-modal="true-reg").modal-wrap__true
					.modal-content.modal-content--message
						.modal-close
							+icon("close","icon")
						.modal-title Вы успешно <br> зарегистрированы
						.modal-text Мы отправили письмо Вам ан почту
						.btn-row--mid
							.btn--md-fix.btn--mark.modal-close-btn Хорошо
				//modal-true-reg===end

				//modal-deliver
				.modal(data-modal="deliver-text")
					.modal-content.modal-wrap__deliver
						.modal-close
							+icon("close","icon")
						.modal-title ПРОЦЕСС ПЕРЕДАЧИ ДАННЫХ
						.modal-text Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl.
				//modal-deliver===end

	//modals
	//modals===edn
	//block footer end