-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'Карточка',
		'href':'item'
		},
		{
		'name':'Акции',
		'href':'discount'
		},
		{
		'name':'Список',
		'href':'list'
		},
		{
		'name':'Новости',
		'href':'news'
		},
		{
		'name':'Новости подробная',
		'href':'news-full'
		}
	]

