-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'Карточка',
		'href':'item'
		},
		{
		'name':'Акции',
		'href':'discount'
		},
		{
		'name':'Список',
		'href':'list'
		},
		{
		'name':'Новости',
		'href':'news'
		},
		{
		'name':'Новости подробная',
		'href':'news-full'
		},
		{
		'name':'Личный кабинет',
		'href':'lk'
		},
		{
		'name':'Оплата шаг один',
		'href':'pay-step-one'
		},
		{
		'name':'Оплата шаг два',
		'href':'pay-step-two'
		},
		{
		'name':'Оплата шаг три',
		'href':'pay-step-three'
		},
		{
		'name':'Отзывы',
		'href':'review'
		}
	]

