mixin header()
	//block header
	.head
		//header-slim
		.main-cont
			.head-slim
				.head-slim__list
					-
						var items = [
						'Доставка и оплата',
						'Акции',
						'Отзывы',
						'Новости',
						'Вакансии',
						'О компании'
						];
					each item in items
						a(href="#").head-slim__list-el #{item}
				.head-slim__list-soc
					a(href="#").head-slim__list-soc-el
						+icon("soc-vk","icon")
					a(href="#").head-slim__list-soc-el.head-slim__list-soc-el--inst
						+icon("soc-instagram","icon")
					a(href="#").head-slim__list-soc-el.head-slim__list-soc-el--apple
						+icon("apple","icon")
		.header-nav
			.main-cont
				.header-nav__wrap
					a(href="/").header-nav__logo
						+icon("logo--md--color","icon")
					.header-nav__menu
						.header-nav__menu-icon
							+icon("menu","icon")
						.header-nav__menu-text Меню
					.header-nav-info
						.header-nav-info__phone
							.header-nav-info__phone-number
								span 8 (3452)
								| 90-00-90
							.header-nav-info__phone-text Перезвоните мне
						.header-nav-info__time
							.header-nav-info__time-el Вс – Чт
								span
								| с 09:00 до 00:00
							.header-nav-info__time-el Пт – Сб
								span
								| с 09:00 до 01:00
					.header-nav__enter
						.header-nav__enter-icon
							+icon("login","icon")
						.header-nav__enter-text Войти
					.header-nav__cart
						.header-nav__cart-icon
							.header-nav__cart-val
								span 10
							+icon("cart","icon")
						.header-nav__cart-text 2500
							.rub o
	//block header end