mixin header()
	//block header
	.head
		//header-slim
		.main-cont
			.head-slim
				.head-slim__list
					-
						var items = [
						'Доставка и оплата',
						'Акции',
						'Отзывы',
						'Новости',
						'Вакансии',
						'О компании'
						];
					each item in items
						a(href="#").head-slim__list-el #{item}
				.head-slim__list-soc
					a(href="#").head-slim__list-soc-el
						+icon("soc-vk","icon")
					a(href="#").head-slim__list-soc-el.head-slim__list-soc-el--inst
						+icon("soc-instagram","icon")
					a(href="#").head-slim__list-soc-el.head-slim__list-soc-el--apple
						+icon("apple","icon")

		//header-nav
		.header-nav
			.main-cont
				.header-nav__wrap
					.header-nav__menu.header-nav__menu--mob
						a(href="#mobile-menu").header-nav__menu-toggle
						.header-nav__menu-icon
							+icon("burger","icon icon--menu")
							+icon("close","icon icon--close")
						.header-nav__menu-text Меню
					a(href="/").header-nav__logo
						+icon("logo--md--color","icon icon-logo-md")
						+icon("logo--sm--color","icon icon-logo-sm")
					.header-nav__menu.header-nav__menu--desct
						a(href="#mobile-menu").header-nav__menu-toggle
						.header-nav__menu-icon
							+icon("menu","icon icon--menu")
							+icon("close","icon icon--close")
						.header-nav__menu-text Меню

						//header drop
						.header-nav__drop
							.header-nav__drop-wrap
								.header-nav__drop-list
									-
										var items = [
											'Сеты',
											'Роллы',
											'Суши',
											'Пицца',
											'Пироги',
											'Лапша WOK',
											'Fast food',
											'Бизнес-ланч',
											'Комбо-меню',
											'Супы',
											'Паста',
											'Гриль-меню',
											'Салаты',
											'Десерты',
											'Напитки',
											'Соусы'
											];
									each item in items
										.header-nav__drop-list-el
											a(href="#") #{item}
								.header-nav__drop-img
									a(href="#" style="background-image:url('img/drop-menu-img.jpg')").header-nav__drop-img-el
					//header drop===end
					.header-nav-info
						.header-nav-info__phone
							a(href="tel:8 (3452)90-00-90").header-nav-info__phone-number
								span 8 (3452)
								| 90-00-90
							.header-nav-info__phone-text Перезвоните мне
						.header-nav-info__time
							.header-nav-info__time-el Вс – Чт
								span
								| с 09:00 до 00:00
							.header-nav-info__time-el Пт – Сб
								span
								| с 09:00 до 01:00

					//login
					.header-nav__enter
						.header-nav__enter-icon
							+icon("login","icon")
						.header-nav__enter-text Войти

					//cart
					.header-nav__cart
						.header-nav__cart-icon
							.header-nav__cart-val
								span 10
							+icon("cart","icon")
						.header-nav__cart-text 2500
							.rub o
	//block header end